body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    /* Prevents scrolling on mobile while tapping to jump */
    touch-action: none; 
}

h1 {
    font-size: 20px;
    margin-top: 20px;
    color: #535353;
}

#board {
    background-color: white;
    border-bottom: 2px solid #535353;
    
    /* Responsive scaling for mobile */
    max-width: 100%;
    height: auto;
    
    display: block;
    margin: 20px auto;
}
